/*fonte da letra*/
@font-face {
    font-family: space;
    src: url(SpaceMono-Regular.ttf);
}
/*index*/
.f_ind {
    background-image: url("Imagens/Buraco negro.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 5.5%;
}
.a a {
    position: absolute;
    top: 3em;
    left: 2em;
    color: white;
    font-family: "space";
    text-decoration: none;
    font-size: 1.5em;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 10px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 8px;
    box-shadow: 10px 10px white;

}
.p a {
    position: absolute;
    bottom: 3em;
    right: 4em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.5em ;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 10px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 8px;
    box-shadow: 10px 10px white;
}
/*apre*/
.f_ap {
    background-image: url("Imagens/Galaxias2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text_apre {
    position: absolute;
    top: 6em;   
    right: 3em;
    text-align: center;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.3em 
}

.text_canais {
    position: absolute;
    top: 15em;
    left: 25em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.2em ;
    text-align: center;
}
.links_canais a {
    position: absolute;
    bottom: 18em;
    left: 29em;
    font-family: "space" ;
    font-size: 1.2em ;
    text-align: center;
    color: aqua; 
}


.links_canais2 a {
    position: absolute;
    bottom: 16em;
    left: 29em;
    font-family: "space" ;
    font-size: 1.2em ;
    text-align: center;
    color: aqua; 
}
 
/*links*/
.f_li {
    background-image: url("Imagens/Galaxias1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pr {
    position: absolute;
    top: 2em;
    right: 38%;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.5em ;
}
.jogo_cao {
    position: absolute;
    top: 6.5em;
    left: 7em;
    color:white;
    font-family: "space" ;
    font-size: 1.2em ;
}

.jogo_cao_imagem {
    position: absolute;
    top: 15em;
    left: 2em;  
    width: 28em
}

.links_baixarcao a {
    position: absolute;
    top: 12em;
    left: 7em;
    color: aqua;
    font-family: "space" ;
}

.jogo_pinguimdodger {
    position: absolute;
    top: 6.5em;
    right: 6em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.2em ;

}
.links_baixarpinguim a {
    position: absolute;
    top: 12em;
    right: 5em;
    color: aqua;
    font-family: "space" ;
}

.jogo_pinguim_imagem {
    position: absolute;
    top: 15em;
    right: 5em;  
    width: 20em
}

.projeto_js a {
    position: absolute;
    top: 13em;
    right: 25.5em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 10px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 8px;
    box-shadow: 10px 10px white;
}
    
/*projetojs*/
.f_js {
    background-image: url("Imagens/Galaxias1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.calc a {
    position: absolute;
    top:6em;
    left:3em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
}
.adivinha a {
    position: absolute;
    top:8.5em;
    left:3em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
}
.titulo_js {
    position: absolute;
    top: 2em;
    left: 20em;
    font-family: "space";
    color: white;

}
.slotmachine a {
    position: absolute;
    top:11em;
    left:3em;
    color:white;
    font-family: "space";
    text-decoration: none;

}
.spaceshiplander a{
    position: absolute;
    top:13.5em;
    left:3em;
    color:white;
    font-family: "space";
    text-decoration: none;
}
/*calculadora*/
.f_calc {
    background-image: url("Imagens/Galaxias1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.calcesp {
    position: absolute;
    top: 3em;
    right: 26.5em;
    color:white;
    font-family: "space" ;
    text-decoration: none;
}
.but1_calc {
    position: absolute;
    top: 13em;
    left: 50em;
}
.but2_calc {
    position: absolute;
    top: 17em;
    left: 50em;
}
.but3_calc {
    position: absolute;
    top: 24em;
    left: 50em;
}
.butmais {
    position: absolute;
    top: 20.5em;
    left: 50.5em;
}
.butmenos {
    position: absolute;
    top: 20.5em;
    left: 53.5em;
}
.butmul {
    position: absolute;
    top: 20.5em;
    left: 56.5em;
}
.butdivi {
    position: absolute;
    top: 20.5em;
    left: 60em;
}
.sinalcalc {
    position: absolute;
    top: 11.4em;
    left: 46.5em;
    color: white;
    font-family: "space"; 
}
/*Adivinha*/
.f_adivinha {
    background-image: url("Imagens/Galaxias1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo_ad1{
    position: absolute;
    top: 3.5em;
    right: 15em;
    color:white;
    font-family: "space" ;
}
.but1_adivinha {
    position: absolute;
    top: 11.5em;
    right: 56em;
}
.but2_adivinha {
    position: absolute;
    top: 13.7em;
    right: 56em;
}
.but3_adivinha {
    position: absolute;
    top: 15.9em;
    right: 56.7em;
}
.mensagem_adivinha {
    position: absolute;
    top: 14em;
    right: 41em;
    color:white;
    font-family: "space" ;
}
.confettis {
    position: absolute;
    top: -6em;
    right: 20em;
    width: 60em;
    display:none;
    z-index:-1;
}
.sinal_maior {
    position: absolute;
    top: 15em;
    right: 38em;
    width: 20em;
    display:none;
}
.sinal_menor {
    position: absolute;
    top: 15em;
    right: 38em;
    width: 20em;
    display:none;
}
/*slot machine*/
.f_slot_machine{
    background-image: url("Imagens/Galaxias1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo_slot_machine{
    position: absolute;
    top: 3.5em;
    right: 29.2em;
    color:white;
    font-family: "space" ;
}
.but_slot_machine{
    position: absolute;
    top: 13em;
    right: 56.8em;
}
.but1_slot_machine{
    position: absolute;
    top: 13em;
    right: 52.7em;
}
.numero_slot_machine{
    position: absolute;
    top: 13em;
    right: 51.9em;
    font-family: space;
    color: white;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 5px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.numero1_slot_machine{
    position: absolute;
    top: 13em;
    right: 47.95em;
    font-family: space;
    color: white;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 5px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px
}
.numero2_slot_machine{
    position: absolute;
    top: 13em;
    right: 44.05em;
    font-family: space;
    color: white;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 5px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px
}
.mensagem{
    position: absolute;
    top: 16em;
    right: 46.8em;
    font-family: space;
    color: white;
}
/*spaceship lander*/
.f_spl {
    background-imagee: url("Imagens/Galaxias2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*--Lua--*/
.canvas_lua {
    border: 1px solid #000000;
    display: block;
    margin: auto;
    width: 60em; 
}
.f_spl_l {
    background-image: url("Imagens/Galaxias2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*botao do inicio e da seta*/
.ini a {
    position: absolute;
    bottom: 1em;
    right: 46.5%;
    color:white;
    font-family: "space" ;
    text-decoration: none;
    font-size: 1.3em ;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 10px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 8px;
    box-shadow: 10px 10px white;
}
.seta_para_tras a {
    position: absolute;
    bottom: 0.4em;
    left: 0.5em;
    color:white;
    font-family: "space" ;  
    text-decoration: none;
    font-size: 2em ;
    border-style: solid;
    border-color:rgb(255, 115, 33) ;
    border-width: 10px;
    padding: 10px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    box-shadow: 10px 10px white;
}